.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-2px 2px 5px rgba(0, 0, 0, 0.2));
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fallback {
  color: #fff;
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  animation: 3s ease-in-out slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(25rem);
  }
  100% {
    transform: translateY(0);
  }
}
