.items {
  border-radius: 5px;
  min-width: 50rem;
  list-style: none;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(240, 240, 240);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title h1 {
  font-size: 21px;
}

.title input {
  width: 1rem;
  height: 1rem;
}

.description {
  margin-left: 2rem;
  font-size: 18px;
  opacity: 80%;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  background: green;
  color: white;
}

.options {
  margin-left: 6rem;
  font-size: 20px;
  margin-top: 1rem;
}

.delete {
  font-weight: 600;
  cursor: pointer;
  margin-left: 4rem;
  color: rgb(255, 47, 47);
}
.edit {
  font-weight: 600;
  cursor: pointer;
  margin-left: 4rem;
  color: rgb(85, 85, 255);
}

.title form input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
}

.date {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 800px) {
  .items {
    min-width: auto;
  }
  .title {
    flex-direction: column;
    justify-content: center;
  }

  .title div {
    width: fit-content;
    gap: 0;
  }

  .title h1 {
    font-size: 16px;
    margin-left: 8px;
  }

  .options {
    margin-left: 0;
    margin-right: 3.5rem;
    margin-bottom: 1rem;
  }

  .delete {
    font-size: 16px;
    text-align: center;
  }

  .edit {
    font-size: 16px;
  }

  .title form input {
    min-width: 7rem;
  }

  .date {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 1rem;
  }
  .description {
    text-align: center;
    margin-right: 1.5rem;
  }
}
