.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form label {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.form input {
  outline: none;
  font-size: 18px;
  padding: 2px 10px;
}

.form textarea {
  font-size: 18px;
  padding: 10px 10px;
}

.form button {
  font: inherit;
  background: green;
  border: none;
  color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 3px;
  cursor: pointer;
}

.form button:hover {
  background: rgb(0, 164, 0);
}

.modalForm {
  margin-bottom: 20px;
}
