.info h1 {
  font-weight: 600;
  margin-bottom: 10px;
}
.info p {
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 60%;
  margin-left: 5px;
  margin-bottom: 2rem;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.btn {
  border: 2px solid green;
  color: black;
  width: 50%;
}

.btn:hover {
  background: green;
  color: white;
}
